/*!
 * =====================================================
 * SUI Mobile - yungu-main
 *
 * =====================================================
 */

.yungu-icon{
    display: block;
}
.yungu-icon-go-right{
    background: url("./assets/img/icon-go-right.png");
    -moz-background-size:28px 28px; /* 老版本的 Firefox */
    background-size:28px 28px;
    background-repeat:no-repeat;
    background-position: center;
    width: 48px;
    height: 2.2rem;

}
.yungu-icon{
    display: block;
}
.yungu-icon-filter{
    background: url("./assets/img/icon-filter.png");
    -moz-background-size:32px 32px; /* 老版本的 Firefox */
    background-size:26px 26px;
    background-repeat:no-repeat;
    background-position: center;
    width: 26px;
    height: 2.2rem;
}
.yungu-button{
    position: relative;
    /* top: 0.35rem; */
    z-index: 20;
    margin-top: 0;
    font-weight: 400;
}
.yungu-button-link{
    top: 0;
    padding: 0;
    font-size: 0.8rem;
    line-height: 2.2rem;
    height: 2.2rem;
    color: #FFFFFF;
    border: 0;
    width: 4rem;
}
.yungu-button-link-text{
    top: 0;
    padding: 0;
    font-size: 0.8rem;
    line-height: 2.2rem;
    height: 2.2rem;
    color: #FFFFFF;
    border: 0;
    width: 2rem;
}
.yungu-button-link-ok{
    top: 0;
    padding: 0;
    font-size: 0.8rem;
    line-height: 2.2rem;
    height: 2.2rem;
    color: #FFFFFF;
    border: 0;
    width: 2rem;
}
.yungu-content-bgcolor{
    background-color: #f4f4f4;
}
.yungu-content-list{
    margin: 0 0;
    font-size: 0.85rem;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif,"SimSun";;
}
.yungu-content-list ul{
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.yungu-content-list ul:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}
.yungu-content-list .yungu-item-content{
    box-sizing: border-box;
    padding-left: 0rem;
    min-height: 4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 4px #f1f1f1 solid;
}
.yungu-content-list .yungu-item-content .yungu-item-image{
    margin: 0;
    box-sizing: border-box;
    float: left;
    text-align: center;
    min-height: 5rem;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.yungu-content-list .yungu-item-content .yungu-item-image, .yungu-content-list .yungu-item-content, .yungu-content-list .yungu-item-content .yungu-item-image :after,.yungu-content-list .yungu-item-content .yungu-item-image:before {
    box-sizing: border-box
}
.yungu-content-list .yungu-item-content .yungu-item-image{
    width: 30%;
    /**padding: 0.6rem 0.4rem 0.6rem 0.4rem;**/
}
.yungu-content-list .yungu-item-content .yungu-item-image img{
    max-height: 4rem;
    max-width: 4rem;
}
.yungu-content-list .yungu-item-content .yungu-item-desc{
    width: 70%;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0;
    min-height: 5rem;
    box-sizing: border-box;
    float: left;
}
.yungu-item-desc .yungu-item-desc-name{
    padding: 6px 0rem 0rem 0rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:15px;
    min-height: 1.2rem;
}
.yungu-item-desc .yungu-item-desc-spec{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:12px;
    color:#888888;
    min-height: 1.2rem;
}
.yungu-item-desc .yungu-item-desc-price{
    bottom: 2px;
    font-size:16px;
    color:#fa4c0f;
    min-height: 2.2rem;
    display: -moz-box;/*兼容Firefox*/
    display: -webkit-box;/*兼容FSafari、Chrome*/
    -moz-box-align: end;/*兼容Firefox*/
    -webkit-box-align: end;/*兼容FSafari、Chrome */
    -moz-box-pack: start;/*兼容Firefox*/
    -webkit-box-pack: start;/*兼容FSafari、Chrome */
    padding: 0px 0px 6px 0px;
}
#panel-right-demo{
    background-color: #ffffff;
}

.bookMin{
    font-size: 0.7rem;
    color: #ff7300;
}
.yungu-list-masking{
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 2000;
    position: absolute;
    opacity:0.5;
    visibility:hidden;
}
.yungu-list-filter-panel{
    color:#888888;
    font-size: 15px;
}
.yungu-list-filter-panel ul{
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.yungu-list-filter-panel ul li{
    border-bottom: 1px #e0e0e0 solid;
    margin: 0.3rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0.3rem 0.5rem;
}
.yungu-filter-name{
    height: 1.6rem;
    line-height: 1.6rem;
    border: 1px #888888 solid;
    display: inline-block;
    text-align: center;
    margin: 0.2rem 0rem 0.2rem 0.2rem;
    padding:0rem 0.6rem 0rem 0.6rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius:3px; /* Old Firefox */
}
.yungu-filter-name.active{
    border: 1px #8a75e0 solid;
    color:#8a75e0;
}
.yungu-list-filter-bottons{
    width: 100%;
    height: 2rem;
    text-align: center;
    color:#FFFFFF;
    font-size:18px;
    position: fixed;
    bottom: 0px;
}
.yungu-list-filter-bottons .yungu-filter-reset{
    width: 50%;
    background-color: #ffab37;
    line-height: 2rem;
}
.yungu-list-filter-bottons .yungu-filter-submit{
    width: 50%;
    background-color: #8875e0;
    line-height: 2rem;
}
.yungu-copyright{
    color:#888888;
    font-size: 12px;
    text-align: center;
    height: 2.4rem;
    line-height: 2.4rem;
    position: absolute;
    bottom: 0rem;
    width: 100%;
}
/*@font-face {*/
    /*font-family: 'hanziguangzhen';*/
    /*src: url('../fonts/hanzhenguangzhen.ttf');*/
/*}*/
.yungu-pay-confirm-info{
    text-align: center;
}
.yungu-pay-confirm-info .yungu-pay-confirm-bg-img{
    margin-top: 2.4rem;
    min-height: 6rem;
    background-image: url("./assets/img/icon-money.png");
    background-size: 4.4rem 4.4rem;
    background-repeat: no-repeat;
    background-position: center;
}
.yungu-pay-confirm-info .yungu-pay-confirm-bg-text{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.yungu-pay-confirm-button{
    background-color:#7e90e4;
    color: #ffffff;
    font-size: 0.7rem;
    line-height: 2.2rem;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius:3px; /* Old Firefox */
}
.yungu-pay-success-info{
    text-align: center;
}
.yungu-pay-success-info .yungu-pay-bg-img{
    margin-top: 2.4rem;
    min-height: 6rem;
    background-image: url("./assets/img/pay-success.png");
    background-size: 4.4rem 4.4rem;
    background-repeat: no-repeat;
    background-position: center;
}
.yungu-pay-success-info .yungu-pay-bg-text{
    font-size: 1.6rem;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif,"SimSun";
    margin-bottom: 3rem;
}
.yungu-pay-success-button{
    background-color: #1f7ed0;
    color: #ffffff;
    font-size: 0.7rem;
    line-height: 2.2rem;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius:3px; /* Old Firefox */
}
.yungu-pay-fail-info{
    text-align: center;
}
.yungu-pay-fail-info .yungu-pay-bg-img{
    margin-top: 2.4rem;
    min-height: 6rem;
    background-image: url("./assets/img/pay-fail.png");
    background-size: 4.4rem 4.4rem;
    background-repeat: no-repeat;
    background-position: center;
}
.yungu-pay-fail-info .yungu-timeout-bg-img{
    margin-top: 2.4rem;
    min-height: 6rem;
    background-image: url("./assets/img/overtime.png");
    background-size: 4.4rem 4.4rem;
    background-repeat: no-repeat;
    background-position: center;
}
.yungu-pay-fail-info .yungu-pay-bg-text{
    font-size: 1.6rem;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif,"SimSun";
    margin-bottom: 3rem;
    color:#000000;
}
.yungu-pay-fail-button{
    background-color: #f4f4f4;
    color: #000000;
    font-size: 0.7rem;
    line-height: 2.2rem;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius:3px; /* Old Firefox */
}
.yungu-timeout-login-button{
    background-color: #8875df;
    color: #ffffff;
    font-size: 0.7rem;
    line-height: 2.2rem;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius:3px; /* Old Firefox */
}
.yungu-bind-mobile{
    font-size: 0.7rem;
    margin-top: 0rem;
    padding-top: 1.75rem;
    background-color: #FFFFFF;
}
.yungu-bind-mobile input[type="text"] input[type="password"]{
    font-size: 0.7rem;
}
.yungu-bind-send-button{
    color:#8975df;
    border: 1px #8975df solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius:3px; /* Old Firefox */
    padding: 0.2rem;
    float: right;
}
.yungu-bind-send-button.disabled{
    pointer-events: none;
    border:1px #cecece solid;
    color:#cecece;
}
.yungu-bind-mobile-login{
    color:#FFFFFF;
    background-color: #8975df;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius:3px; /* Old Firefox */
    display: block;
    text-align: center;
    line-height: 2rem;
}
.yungu-bind-mobile-login.disabled{
    pointer-events: none;
    background-color: #cecece;
}
.yungu-my-orders-bg{
    background-color: #e7e7f0;
}
.yungu-my-orders-tab-title{
    position: fixed;
    width: 100%;
    z-index: 2;
}
.yungu-my-orders-tab-title .yungu-tab-title{
    font-size: 0.72rem;
}
.yungu-my-orders-tab-content{
    padding:0rem;
    margin-top: 2.4rem;
}
.yungu-supplier-orders-tab-content{
    padding:0rem;
    margin-top: 0.4rem;
}
.yungu-my-orders-card{
    margin-top: 0.4rem;
    border-top:1px #e8e8e8 solid;
}
.yungu-my-orders-card .yungu-my-order-header{
    background-color: #FFFFFF;
    border-bottom:1px #e8e8e8  solid;
    font-size: 0.68rem;
    line-height: 1.75rem;
}
.yungu-my-order-header .yungu-order-seller{
    display: inline-block;
    margin-left: 0.6rem;
}
.yungu-my-order-header .yungu-order-detail{
    display: inline-block;
    width: 14px;
    background: url("./assets/img/icon-go-left-small.png");
    -moz-background-size:12px 12px; /* 老版本的 Firefox */
    background-size:12px 12px;
    background-repeat:no-repeat;
    background-position: center;
}
.yungu-my-order-header .yungu-order-pay{
    display: inline-block;
    position: absolute;
    right: 0.8rem;
    color:#ff4a09;
}
.yungu-my-order-header .yungu-order-pay.success{
    color:#4cd964;
}
.yungu-my-orders-card{
    background-color: #FFFFFF;
}
.yungu-my-orders-card .yungu-my-order-content{
    background-color: #f5f5f5;
    border-bottom:1px #e8e8e8  solid;
    font-size: 0.64rem;
}
.yungu-my-order-content ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.yungu-my-order-content li{
    box-sizing: border-box;
    padding-left: 0rem;
    min-height: 4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.yungu-my-order-content .yungu-my-order-content-image{
    width: 7.25rem;
    margin: 0.5rem 0rem 0.5rem 0.5rem;
    box-sizing: border-box;
    text-align: center;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.yungu-my-order-content  .yungu-item-image, .yungu-my-order-content .yungu-item-image *, .yungu-my-order-content .yungu-item-image :after,.yungu-my-order-content .yungu-item-image:before {
    box-sizing: border-box
}
.yungu-my-order-content .yungu-my-order-content-image img{
    width: 4.2rem;
    height: 4.2rem;
}
.yungu-my-order-content .yungu-my-order-content-detail{
    width: 70%;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0.3rem;
}
.yungu-my-order-content-detail .yungu-my-order-content-detail-name{
    display: block;
    min-height: 2.5rem;
}
.yungu-my-order-content-detail .yungu-my-order-content-detail-desc{
    color:#909190;
    display: block;
    font-size:0.6rem ;
}
.yungu-my-order-content .yungu-my-order-content-price{
    width: 30%;
    text-align: right;
    padding-right: 0.6rem;
    min-height: 3.2rem;
}
.yungu-my-order-content-price .yungu-my-order-conent-price-now{
    display: block;
}
.yungu-my-order-content-price .yungu-my-order-conent-price-old{
    color:#909190;
    display: block;
    font-size:0.3rem ;
    text-decoration: line-through;
}
.yungu-my-order-content-price .yungu-my-order-conent-price-num{
    color:#909190;
    display: block;
    font-size:0.6rem ;
}
.yungu-my-orders-card .yungu-my-order-footer{
    background-color: #FFFFFF;
    font-size: 0.60rem;
    /**line-height: 1.22rem;*/
}
.yungu-my-order-footer .yungu-my-order-footer-detail{
    border-bottom:1px #e8e8e8 solid;
    padding: 0.15rem 0rem 0.15rem 0rem;
}
.yungu-my-order-footer-detail .yungu-my-order-footer-detail-text{
    margin-left: 0.75rem;
}
.yungu-my-order-footer-detail .yungu-my-order-footer-detail-total{
    margin-right: 0.6rem;
}
.yungu-my-order-footer-detail .yungu-my-order-footer-detail-post{
    color:#909190;
    text-align: right;
    padding-right: 0.75rem;
    font-size: 0.55rem;
}
.yungu-my-order-footer-detail .yungu-my-order-footer-detail-total .yungu-my-order-footer-detail-price{
    color:#ff4a09;
}
.yungu-my-order-footer .yungu-my-order-footer-todo{
    border-bottom:1px #e8e8e8 solid;
    padding-right: 0.75rem;
    line-height: 2.4rem;
    text-align: right;
}
.yungu-my-order-footer-todo .yungu-my-order-footer-last-a{
    margin-left: 0.6rem;
    color: #ff4a09;
    border: 2px #ff4a09 solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    display: inline-block;
    line-height: 1.4rem;
    min-width: 3.6rem;
    text-align: center;
}
.yungu-my-order-footer-todo  .yungu-my-order-footer-first-a{
    color: #187bd6;
    border: 2px #187bd6 solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    display: inline-block;
    line-height: 1.4rem;
    min-width: 3.6rem;
    text-align: center;
}
.yungu-addresses-content{
    font-size: 0.65rem;
    margin-bottom: 4rem;
}
.yungu-addresses-content ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.yungu-addresses-content ul li{
    background-color: #FFFFFF;
    border-top: 1px #d3d3d3 solid;
    border-bottom: 1px #d3d3d3 solid;
    margin-bottom: 0.5rem;
}
.yungu-addresses-content .yungu-addresses-content-info{
    border-bottom: 1px #d3d3d3 solid;
}
.yungu-addresses-content .yungu-addresses-content-todo{
    line-height: 2.2rem;
    margin: 0rem 0.6rem 0rem 0.6rem;
    font-size: 0.5rem;
}
.yungu-addresses-content-info .yungu-address-name-mobile{
    height: 2rem;
    line-height: 2rem;
    margin: 0rem 0.6rem 0rem 0.6rem;
}
.yungu-address-name-mobile .yungu-address-mobile{
    float: right;
}
.yungu-addresses-content-info .yungu-address-detail{
    margin: 0rem 0.6rem 0.4rem 0.6rem;
    font-size: 0.5rem;
    word-wrap: break-word;
    word-break: break-all;
}
.yungu-addresses-content-todo .yungu-addresses-content-delete{
    float: right;
    background: url("./assets/img/btn_delete.png");
    -moz-background-size:12px 16px; /* 老版本的 Firefox */
    background-size:12px 16px;
    background-repeat:no-repeat;
    background-position: left;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    padding-left: 0.8rem;
}
.yungu-addresses-content-todo .yungu-addresses-content-edit{
    float: right;
    background: url("./assets/img/btn_edit.png");
    -moz-background-size:12px 16px; /* 老版本的 Firefox */
    background-size:12px 16px;
    background-repeat:no-repeat;
    background-position: left;
    width: 3rem;
    height: 2rem;
    line-height: 2rem;
    padding-left: 0.8rem;
}
.yungu-addresses-content-todo .yungu-addresses-content-now {
    background: url("./assets/img/check.png");
    -moz-background-size:16px 16px; /* 老版本的 Firefox */
    background-size:16px 16px;
    background-repeat:no-repeat;
    background-position: left;
    width: 4rem;
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    padding-left: 1.0rem;
}
.yungu-addresses-content-todo .yungu-addresses-content-now.active {
    background: url("./assets/img/checked.png");
    -moz-background-size:16px 16px; /* 老版本的 Firefox */
    background-size:16px 16px;
    background-repeat:no-repeat;
    background-position: left;
    width: 4rem;
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    padding-left: 1.0rem;
    color:#8875df;
}
.yungu-addresses-add{
    position: fixed;
    bottom: 0rem;
    line-height: 2.4rem;
    width: 100%;
    text-align: center;
    background-color: #8875df;
}
.yungu-addresses-add a{
    color:#FFFFFF;
}
.yungu-content-address-save{
    font-size: 0.65rem;
    border-bottom: 1px #d3d3d3 solid;
    margin: 0rem;
}
.yungu-content-address-save .yungu-address-save-city{
    max-width: 80%;
    white-space:pre-wrap;
    max-height: 2.8rem;
}
.yungu-content-address-save textarea{
    font-size: 0.65rem;
    padding-left: 0rem;
    height:2.6rem;
}
.yungu-address-save-now{
    background-color: #FFFFFF;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-size: 0.65rem;
    line-height: 2rem;
    margin-top: 0.5rem;
    border-top: 1px #d3d3d3 solid;
    border-bottom: 1px #d3d3d3 solid;
}
.yungu-address-save-now .yungu-address-save-now-check{
    background: url("./assets/img/check.png");
    -moz-background-size:20px 20px; /* 老版本的 Firefox */
    background-size:20px 20px;
    background-repeat:no-repeat;
    background-position: center;
    width: 26px;
    height: 2rem;
}
.yungu-address-save-now .yungu-address-save-now-check.active{
     background: url("./assets/img/checked.png");
     -moz-background-size:20px 20px; /* 老版本的 Firefox */
     background-size:20px 20px;
     background-repeat:no-repeat;
     background-position: center;
     width: 26px;
     height: 2rem;
 }
.yungu-address-save-delete a{
    line-height: 2rem;
    color: #ff4a09;
    width: 100%;
    display: block;
    font-size: 0.65rem;
    padding-left: 0.6rem;
    background-color: #FFFFFF;
    margin-top: 0.5rem;
    border-top: 1px #d3d3d3 solid;
    border-bottom: 1px #d3d3d3 solid;
}
.yungu-content-citys{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 0.65rem;
    background-color: #FFFFFF;
    border-top: 1px #d3d3d3 solid;
}
.yungu-content-citys .yungu-content-citys-parent{
    line-height: 1.8rem;
    border-bottom: 1px #d3d3d3 solid;
    padding-left: 0.6rem;
    background: url("./assets/img/icon-go-left-small.png");
    -moz-background-size:12px 12px; /* 老版本的 Firefox */
    background-size:12px 12px;
    background-repeat:no-repeat;
    background-position: 97% center;
    background-position: -webkit-calc(100% - .5rem) center;
    background-position: calc(100% - .6rem) center;
}
.yungu-content-citys .yungu-content-citys-root{
    line-height: 1.8rem;
    border-bottom: 1px #d3d3d3 solid;
    padding-left: 0.6rem;
}
.yungu-order-detail-header{
    background-color: #FFFFFF;
    font-size: 0.65rem;
}
.yungu-order-detail-header .yungu-order-detail-header-status{
    padding-left: 0.6rem;
    color:#ff4a09;
    line-height: 1.8rem;
    border-bottom: 1px #d3d3d3 solid;
}
.yungu-order-detail-header-info{
    background: url("./assets/img/icon-go-left-small.png");
    background-repeat:no-repeat;
    background-size:14px 14px;
    min-height: 3.0rem;
    background-repeat:no-repeat;
    background-position: 97% center;
    background-position: -webkit-calc(100% - .6rem) center;
    background-position: calc(100% - .6rem) center;
}
.yungu-order-detail-header-info .yungu-order-detail-header-none-address{
    padding-left: 0.6rem;
    min-height: 3.0rem;
    line-height: 3.0rem;
}
.yungu-order-detail-header-info .yungu-order-detail-header-lcation{
    background: url("./assets/img/icon_address.png");
    background-repeat:no-repeat;
    background-position:center;
    -moz-background-size:17px 22px; /* 老版本的 Firefox */
    background-size:17px 22px;
    min-height: 3rem;
    width: 2rem;
    position: absolute;
    left: 0rem;
}
.yungu-order-detail-header-info .yungu-order-detail-header-content{
    min-height: 3rem;
    margin-left: 2rem;
    padding-right: 1.8rem;
}
.yungu-order-detail-header-content .yungu-order-detail-header-name-mobile{
    min-height: 1.6rem;
    line-height: 1.6rem;
    font-size: 0.75rem;
}
.yungu-order-detail-header-name-mobile .yungu-order-detail-header-mobile{
    position: absolute;
    right: 2.1rem;
}
.yungu-order-detail-header-content .yungu-order-detail-header-address{
    min-height: 1.4rem;
    font-size: 0.6rem;
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom: 0.2rem;
}
.yungu-order-detail-header .yungu-order-detail-header-img{
    background: url("./assets/img/seg_mail.png");
    background-repeat:repeat-x;
    background-position:center;
    -moz-background-size:2.8rem 0.2rem; /* 老版本的 Firefox */
    background-size:2.8rem 0.2rem;
    height: 0.2rem;
}
.yungu-order-detail-freight{
    height: 1.2rem;
    line-height: 1.2rem;
    color: #8c8c8c;
    font-size:0.65rem;
    padding: 0rem 0.6rem 0rem 0.6rem;
}
.yungu-order-detail-freight span:first-child{
    float: left;
}
.yungu-order-detail-freight span:last-child{
    float: right;
}
.yungu-order-detail-discount{
    height: 1.2rem;
    line-height: 1.2rem;
    color: #8c8c8c;
    font-size:0.65rem;
    padding: 0rem 0.6rem 0rem 0.6rem;
}
.yungu-order-detail-discount span:last-child{
    position: absolute;
    right: 0.6rem;
}
.yungu-order-detail-total{
    height: 1.4rem;
    line-height: 1.4rem;
    font-size:0.65rem;
    padding: 0rem 0.6rem 0rem 0.6rem;
    border-bottom: 1px #d3d3d3 solid;
}
.yungu-order-detail-total span:last-child{
    position: absolute;
    right: 0.6rem;
}
.yungu-order-detail-real{
    height: 2rem;
    line-height: 2rem;
    font-size:0.7rem;
    padding: 0rem 0.6rem 0rem 0.6rem;
    border-bottom: 1px #d3d3d3 solid;
}
.yungu-order-detail-real span:last-child{
    color:#ff4a09;
    position: absolute;
    right: 0.6rem;
}
.yungu-order-detail-footer{
    background-color: #FFFFFF;
    border-top: 1px #d3d3d3 solid;
    border-bottom: 1px #d3d3d3 solid;
    color:#8a8a8a;
    margin-top:0.4rem;
    font-size: 0.7rem;
    padding-top:0.4rem;
    padding-bottom:0.4rem;
    padding-left: 0.6rem;
}
.yungu-order-detail-footer span{
    height: 1.4rem;
    line-height: 1.4rem;
    display: block;
}
.yungu-disabled-content{
    height: 3rem;
}
.yungu-order-detail-post{
    line-height: 1.4rem;
    font-size: 0.65rem;
    padding: 0rem 0.6rem 0rem 0.6rem;
    border: 2px #0894ec solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    color:#0894ec;
    margin:0.5rem 0.6rem 0.35rem 0.8rem;
}
.yungu-order-detail-confirm{
    line-height: 1.4rem;
    font-size: 0.65rem;
    padding: 0rem 0.6rem 0rem 0.6rem;
    border: 2px #ff4a09 solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    color:#ff4a09;
    margin:0.5rem 0.6rem 0.35rem 0.6rem;
    display: inline-block;
    min-width: 3.6rem;
    text-align: center;
}
.yungu-order-confirm-detail{
    background-color: #efeff4;
    margin-top:0rem;
    border-top: 1px #d3d3d3 solid;
}
.yungu-order-confirm-detail .yungu-order-confirm-detail-title{
    font-size: 0.7rem;
    padding-left:0.6rem;
    line-height: 1.8rem;
    border-bottom: 1px #d3d3d3 solid;
}
.yungu-order-confirm-detail{
    font-size: 0.6rem;
}
.yungu-order-confirm-detail .yungu-order-confirm-details ul{
    list-style: none;
    padding: 0.2rem 1rem 0.2rem 1rem;
    margin: 0;
    position: relative;
    border-bottom: 1px #d3d3d3 solid;
}
.yungu-order-confirm-details ul li{
    width: 100%;
    margin: 0.4rem 0rem 0.4rem 0rem;
}
.yungu-order-confirm-details .yungu-order-confirm-details-name{
    width: 55%;
    display: inline-block;
    padding-right: 1rem;
    word-wrap: break-word;
    word-break: break-all;
}
.yungu-order-confirm-details .yungu-order-confirm-details-num{
    width: 25%;
    display: inline-block;
    position: absolute;
}
.yungu-order-confirm-details .yungu-order-confirm-details-price{
    width: 25%;
    display: inline-block;
    position: absolute;
    right: 1rem;
    text-align: right;
}
.yungu-order-confirm-detail .yungu-order-confirm-detail-footer{
    border-bottom: 1px #d3d3d3 solid;
    color:#8875df;
    line-height: 1.2rem;
    padding-left: 1rem;
}
.yungu-order-confirm-detail-footer span:last-child{
    float: right;
    margin-right: 1rem;
}
.yungu-order-confirm-payway{
    background-color: #FFFFFF;
    margin-top:0.4rem;
    border-top: 1px #d3d3d3 solid;
}
.yungu-order-confirm-payway .yungu-order-confirm-payway-title{
    font-size: 0.7rem;
    padding-left:0.6rem;
    line-height: 1.8rem;
    border-bottom: 1px #d3d3d3 solid;
}
.yungu-order-confirm-payway .yungu-order-confirm-payway-weixin{
    font-size: 0.6rem;
    border-bottom: 1px #d3d3d3 solid;
    line-height: 2.4rem;
    padding-left: 1rem;
}
.yungu-order-confirm-payway-weixin span:first-child{
    background: url("./assets/img/icon-weixin.png");
    background-repeat:no-repeat;
    background-position:left;
    -moz-background-size:28px 28px; /* 老版本的 Firefox */
    background-size:28px 28px;
    line-height: 2.4rem;
    padding-left: 2.2rem;
    display: inline-block;
}
.yungu-order-confirm-payway-weixin-check:before{
    content: "\00A0";
}
.yungu-order-confirm-payway-weixin-check {
    background: url("./assets/img/check.png");
    -moz-background-size: 30px 30px; /* 老版本的 Firefox */
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right;
    width: 2rem;
    line-height: 2.4rem;
    display: inline-block;
    position: absolute;
    right: 1rem;
}
.yungu-order-confirm-payway-weixin-check.active {
    background: url("./assets/img/checked.png");
    -moz-background-size: 30px 30px; /* 老版本的 Firefox */
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right;
    width: 2rem;
    line-height: 2.4rem;
    display: inline-block;
    position: absolute;
    right: 1rem;
}
.yungu-order-confirm-payway .yungu-order-confirm-payway-alipay{
    font-size: 0.6rem;
    border-bottom: 1px #d3d3d3 solid;
    line-height: 2.4rem;
    padding-left: 1rem;
}
.yungu-order-confirm-payway-alipay span:first-child{
    background: url("./assets/img/icon-alipay.png");
    background-repeat:no-repeat;
    background-position:left;
    -moz-background-size:28px 28px; /* 老版本的 Firefox */
    background-size:28px 28px;
    line-height: 2.4rem;
    padding-left: 2.2rem;
    display: inline-block;
}
.yungu-order-confirm-remark{
    background-color: #FFFFFF;
    /*margin-top:0.4rem;
    border-top: 1px #d3d3d3 solid;*/
    border-bottom: 1px #d3d3d3 solid;
}
.yungu-order-confirm-remark .yungu-order-confirm-remark-title{
    font-size: 0.7rem;
    padding-left:0.6rem;
    line-height: 1.8rem;
}
.yungu-order-confirm-remark-content{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.4rem;
}
.yungu-order-confirm-remark-content textarea{
    height: 3.2rem;
    width: 100%;
    resize: none;
    line-height: 1.4;
    padding: 0.3rem;
    font-size: 0.6rem;
    border: 1px #d4d4d4 solid;
    background-color: #eeeeee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.yungu-order-confirm-nav{
    text-align: right;
    border-top: 1px #d4d4d4 solid;
}
.yungu-order-confirm-nav div{
    display: inline-block;
    font-size: 0.7rem;
    margin-right: 0.4rem;
}
.yungu-order-confirm-nav div span{
    color:#ff4a09;
}
.yungu-order-confirm-nav a{
    display: inline-block;
    line-height: 2.5rem;
    font-size: 0.75rem;
    color:#FFFFFF;
    background-color: #8875df;
    padding:0rem 0.6rem 0rem 0.6rem;
}
.yungu-goods-detail .swiper-container{
    background-color: #FFFFFF;
    border-bottom: 1px #d4d4d4 solid;
}
.yungu-goods-detail .swiper-wrapper{
    text-align: center;
}
.yungu-goods-detail-nav{
    text-align: right;
    font-size: 0rem;
}
.yungu-goods-detail-nav .yungu-goods-detail-add-cart{
    line-height: 2.5rem;
    background-color:#ffab37;
    color:#FFFFFF;
    display: inline-block;
    padding:0rem 0.6rem 0rem 0.6rem;
    font-size: 0.8rem;
}
.yungu-goods-detail-nav .yungu-goods-detail-pay{
    line-height: 2.5rem;
    background-color:#8875df;
    color:#FFFFFF;
    display: inline-block;
    padding:0rem 0.6rem 0rem 0.6rem;
    font-size: 0.8rem;
}
/**轮播图片**/
@media screen and (max-width: 615px) {
    .yungu-goods-detail .swiper-container{
        height: 12.5rem;
    }
    .yungu-goods-detail .swiper-container .swiper-wrapper .swiper-slide img {
        width: 100%;
    }
}
.yungu-goods-detail .yungu-goods-detail-header{
    background-color: #FFFFFF;
    border-top: 1px #d4d4d4 solid;
    border-bottom: 1px #d4d4d4 solid;
    margin-top: 0.4rem;
}
.yungu-goods-detail-header .yungu-goods-detail-name{
    color:#8875df;
    word-wrap: break-word;
    word-break: break-all;
    margin:0.2rem 0.6rem 0.2rem 0.6rem;
}
.yungu-goods-detail-header .yungu-goods-detail-desc{
    font-size: 0.7rem;
    color:#8a8a8a;
    margin: 0.2rem 0.6rem;
}
.yungu-goods-detail-header .yungu-goods-detail-spec{
    font-size: 0.7rem;
    color:#8a8a8a;
    margin: 0.2rem 0.6rem;
}
.yungu-goods-detail-header .yungu-goods-detail-spec-option a{
    color: #5f5f5f;
    background-color: #f7f7f7;
    border: 0.02rem #e0e0e0 solid;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    display: inline-block;
    margin-bottom: 0.2rem;
    font-size: 0.65rem;
    margin-right: 0.4rem;
}
.yungu-goods-detail-header .yungu-goods-detail-spec-option a.active{
    color:#1377ce;
    border: 0.02rem #1377ce solid;
}
.yungu-goods-detail-header .yungu-goods-detail-num{
    font-size: 0.7rem;
    color:#8a8a8a;
    margin: 0.2rem 0.6rem;
}
/*.yungu-goods-detail-header .yungu-goods-detail-num div{
    float: left;
    margin-right: 6px;
    line-height: 1.2rem;
}*/
.yungu-goods-detail-header .yungu-goods-detail-price{
    margin: 0.2rem 0.6rem;
}
.yungu-goods-detail-header .yungu-goods-detail-price .yungu-goods-detail-price-now{
    color:#ff4a09;
}
.yungu-goods-detail-header .yungu-goods-detail-price .yungu-goods-detail-price-old{
    color:#8a8a8a;
    font-size: 0.6rem;
    text-decoration: line-through;
}
.yungu-goods-detail-header .yungu-goods-detail-price .yungu-goods-detail-price-leave{
    color:#8a8a8a;
    font-size: 0.6rem;
}
.yungu-goods-detail .yungu-goods-detail-content{
    margin-top: 0.4rem;
    font-size: 0.6rem;
}
.yungu-good-detail-tab{
    padding: 1rem;
}
.yungu-good-detail-tab .tab{
    overflow: auto;
}
.yungu-good-detail-tab *{
    width: 100%;
    height: 100%;
    display: block;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.yungu-good-detail-tab img {
    width: 100%;
    height: auto;
}
.yungu-goods-detail-back{
    position: absolute;
    z-index: 2;
    background: url("./assets/img/good-detail-back.png");
    -moz-background-size:32px 32px; /* 老版本的 Firefox */
    background-size:26px 26px;
    background-repeat:no-repeat;
    background-position: center;
    width: 2rem;
    height: 2.4rem;
}
.yungu-order-complaint{
    background-color: #FFFFFF;
    /*margin-top:0.4rem;
    border-top: 1px #d3d3d3 solid;*/
    border-bottom: 1px #d3d3d3 solid;
}
.yungu-order-complaint .yungu-order-complaint-title{
    font-size: 0.7rem;
    padding-left:0.6rem;
    line-height: 1.8rem;
    text-align: left;
}
.yungu-order-complaint-content{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.4rem;
}
.yungu-order-complaint-content textarea{
    height: 3.2rem;
    width: 100%;
    resize: none;
    line-height: 1.4;
    padding: 0.3rem;
    font-size: 0.6rem;
    border: 1px #d4d4d4 solid;
    background-color: #eeeeee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.yungu-analysis-code{
    text-align:center;
    font-size:0.9rem;
    margin-top:40%;
    padding:0rem 1.6rem 0rem 1.6rem;
}
.lazy-success {
    -webkit-animation: fadeIn 01s ease 0.2s 1 both;
    animation: fadeIn 1s ease 0.2s 1 both;
}
/**
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.page-from-center-to-left {
    -webkit-animation: pageFromCenterToLeft 0ms forwards;
    animation: pageFromCenterToLeft 0ms forwards;
}
.page-from-left-to-center {
    -webkit-animation: pageFromLeftToCenter 0ms forwards;
    animation: pageFromLeftToCenter 0ms forwards;
}
.page-from-right-to-center {
    -webkit-animation: pageFromRightToCenter 0ms forwards;
    animation: pageFromRightToCenter 0ms forwards;
    z-index: 2002;
}
.page-from-center-to-right {
    -webkit-animation: pageFromCenterToRight 0ms forwards;
    animation: pageFromCenterToRight 0ms forwards;
    z-index: 2002;
}
**/

/** 退货退款  2018-3-15 @author yangjin */
.yungu-popup-goods-status, .yungu-popup-refund-reason {
	bottom: 0;
	top: auto;
	height: auto;
}
.yungu-popup-goods-status .item-title,
.yungu-popup-refund-reason .item-title {
	font-size: 0.7rem;
}
.yungu-goods-status-title {
	line-height: 2.2rem;
	font-size: 0.9rem;
	text-align: center;
}
.yungu-popup-close {
	position: fixed;
	bottom: 0;
	width: 100%;
	line-height: 2.45rem;
	font-size: 0.9rem;
	color: #fff;
	text-align: center;
	background-color: #7596f5;
}
.yungu-radio {
	width: 0.9rem;
    height: 0.9rem;
    border: none;
    background-color: none;
    background: url(./assets/img/check.png) no-repeat;
    background-size: 100%;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: default;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-transition: background-color ease 0.1s;
    transition: background-color ease 0.1s;
}
.yungu-radio:checked {
	background-image: url(./assets/img/checked.png);
}
.yungu-list-block {
	margin: 0;
	padding-bottom: 2.45rem;
}
.popup .yungu-list-block ul{
	height: 15.4rem;
	overflow-y: scroll;
}
.yungu-list-block ul:after {
	content: none;
}
.yungu-content-refund {
	padding-top: 0.5rem;
	background-color: #fff;
	font-size: 0.7rem;
}
.yungu-content-refund .list-block, .yungu-content-refund .list-block input {
	font-size: 0.7rem;
}
.yungu-my-order-content {
	background-color: #F5F5F5;
}
.yungu-content-refund .yungu-refund-item-content {
	display: block;
}
.yungu-refund-item-content .row {
	padding: 0 1rem;
}
.yungu-refund-item-content img {
	width: 100%;
}
.yungu-refund-item-content .add {
	padding: 0.8rem 0;
	border: 1px dashed #888;
	text-align: center;
}
.yungu-refund-item-content .add img{
	width: 0.95rem;
	height: 0.8rem;
}
.yungu-refund-item-content .add p{
	margin: 0;
	font-size: 0.5rem;
	color: #888;
}

.yungu-refund-logistics {
	padding-top: 0.5rem;
}
.yungu-refund-logistics-title {
	line-height: 2.2rem;
	font-size: 0.7rem;
	padding-left: 0.75rem;
}
.yungu-refund-logistics .list-block, .yungu-refund-logistics .list-block input {
	font-size: 0.7rem;
}

.yungu-order-refund-price {
	color: #fa4c0f;
}
.yungu-refund-tips {
	color: #888;
}
.yungu-my-order-btn{
	display: block;
	line-height: 1.4rem;
	min-width: 3.6rem;
	margin-top: 1rem;
	color: #333;
	text-align: center;
	border: 2px solid #666;
	border-radius: 3px;
}
.yungu-my-order-footer-todo a.refund,
.yungu-my-order-footer-todo a.remind{
	color: #666;
	border-color: #666;
}

/* 确认订单 -- 第三方供货商 -- 买家邮箱身份信息 */
.yungu-order-delivery-extra {
    margin-top: 0.4rem;
    border-top: 1px #e8e8e8 solid;
    background: #fff;
}
.yungu-order-delivery-extra .yungu-order-delivery-extra-title {
    line-height: 1.8rem;
    padding-left: 0.6rem;
    font-size: 0.68rem;
    border-bottom: 1px solid #e8e8e8;
}
.yungu-order-delivery-extra .yungu-item-title {
    float: left;
    width: 30%;
    font-size: 0.7rem;
    padding-left: 0.6rem;
    line-height: 1.8rem;
}
.yungu-order-delivery-extra .yungu-item-input {
    font-size: 0.7rem;
    line-height: 1.8rem;
    border: none;
    width: 70%;
}